@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  overflow: auto;
}

html,
body,
#root {
  height: 100%;
}

.campaign-list-scrollbar {
  scrollbar-color: lightslategray transparent;
  scrollbar-width: thin;
}

.campaign-list-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.campaign-list-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.campaign-list-scrollbar::-webkit-scrollbar-thumb {
  background-color: lightslategray;
  border: 3px solid transparent;
  border-radius: 999px;
  background-clip: content-box;
}

.campaign-list-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: slategray;
}

.number-input-no-spinner {
  appearance: textfield;
  -moz-appearance: textfield;
}

.number-input-no-spinner::-webkit-inner-spin-button,
.number-input-no-spinner::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
